#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_SmurfsCoind += debian/examples/*
DEB_INSTALL_MANPAGES_SmurfsCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix SmurfsCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f SmurfsCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake SmurfsCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/SmurfsCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/SmurfsCoind
binary-post-install/SmurfsCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/SmurfsCoin-qt
